extends ../../layouts/default

block content
	.container
		h1 Seite nicht gefunden (404)
		p.lead G&auml;nzlich verlaufen? #[a(href='/') Home!]
		p
			img(src='/images/totally_lost.jpg', alt='Totally Lost, (c) Wizards of the Coast', height='437', width='600')
