extends ../layouts/default

block content
	.container: .jumbotron
		//img(src='/images/logo.svg', width='160')
		h1 &Uuml;ber uns
		h2 Wer sind wir
		p MTG Baselland ist ein Freizeitverein, welcher "Magic the Gathering" Turniere organisiert und Friday Night Magic (FNM) anbietet. Wir sind ein Tochter-Shop von Magic Basel und arbeiten darum Hand in Hand.
		p Unser Spiellokal ist der gem&uuml;tliche Exkalibur-Keller in Liestal. Wir bieten neben den Turnieren auch immer die neusten Magic Produkte an und alles was man braucht um Magic zu spielen. Neben den Getr&auml;nken die wir im Keller anbieten, gibt es direkt vor der T&uuml;r auch einen D&ouml;nerstand, ein Restaurant und einen Coop. Wir sind eine lockere Gesellschaft und immer offen für neue Spieler.
		
		h2 Wo man uns findet
		p Der Exkalibur-Keller befindet sich im Untergeschoss des Rathaus in Liestal, im Herzen der Kantonshauptstadt.
		p
			| Adresse:
			br
			| Salzgasse
			br
			| 4410 Liestal
		p #[a(href="https://www.google.ch/maps/dir//47.4837992,7.7347196/@47.4837847,7.7346271,21z?hl=de") Google Maps]
