extends ../layouts/defaultMail

block content
	p Hallo #{user}!
	p &nbsp;
	p Um dein Passwort zur&uuml;ckzusetzen, folge bitte diesem Link: #[a(href=link) #{link}]
	p Hast du dein Passwort nicht vergessen, ignoriere diese E-Mail.
	p &nbsp;
	p Liebe Gr&uuml;sse
	p MTG Baselland
