extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container-xs
		.page-intro
			h1 Passwort vergessen?
			p.lead Kein problem, wir senden dir einen Link um es zur&uuml;ckzusetzen.
		.page-content
			+flash-messages(messages)
			+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
