extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container-xs
		.page-intro
			h1 Passwort zur&uuml;cksetzen
			p.lead Bitte gebe dein neues Passwort ein
		.page-content
			+flash-messages(messages)
			form(method='post', novalidate).auth-form
				input(type='hidden', name='action', value='reset-password')
				.form-groups
					.form-group
						label(for='password').sr-only Neues Passwort
						input(type='password', name='password', id='password', placeholder='Neues Passwort').form-control.form-control--first
					.form-group
						label(for='password_confirm').sr-only Neues Passwort wiederholen
						input(type='password', name='password_confirm', id='password_confirm', placeholder='Neues Passwort wiederholen').form-control.form-control--last
				button(type='submit').btn.btn-block.btn-primary Passwort zur&uuml;cksetzen
			p.text-center.text-muted.mt-3
				| Doch erinnert? 
				a(href='/signin') Einloggen!

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
